<p>Ceci est un email automatique, merci de ne pas y répondre</p>

<p>Bonjour <%= @user.username %>,</p>

<p>Bienvenu sur le site <%= link_to "Ma Vidéothèque", root_url %> !</p>

<p>Merci pour votre inscription.</p>
