<p>Ceci est un email automatique, merci de ne pas y répondre</p>

<p>Bonjour <%= @user.username %>,</p>

<p>Bienvenu sur le site mavideotheque.fr !</p>

<%= link_to "Retourner sur le site", root_url %>
