#banner-section {
  background-image: asset-url('cover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // height: calc(100vh - 136px);
  height: 30vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner-section h1 {
  background-color: rgba(0, 0, 0, 0.10);
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
  text-shadow: 6px 6px 7px #000000;
  color: white;
  font-size: 80px;
}

.carousel-title {
  color: white;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

@media(max-width: 750px) {
  #banner-section {
    display: none;
  }
}