<div id="results-container">
  <% if  @movies != [] %>
    <% @movies.each do |movie| %>
      <div class="movie-card">
        <div class="img-card-container">
          <% if movie["poster"] != nil %>
            <%= image_tag(movie["poster"]) %>
          <% else %>
            <%= image_tag("missing_img") %>
          <% end %>
        </div>
        <div class="content-card-container">
          <h6 class="movie-title"><%= movie["title"] %></h6>
          <p><%= movie["year"] %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>Désolé, aucun film trouvé</p>
  <% end %>
</div>

<% console %>