<div id="banner-section">
  <div id="banner-titles">
    <h1>Ma Vidéothèque</h1>
    <h2>Chercher, noter, trier mes films préférés </h2>
  </div>
</div>

<%= render '/shared/caroussel', movies: @most_popular_movies, caroussel_title: "Les plus populaires", path: "/mostpopularmovies", caroussel_id: "1" %>
<%= render '/shared/caroussel', movies: @best_2020_movies, caroussel_title: "Meilleurs films de 2020", path: "/best2020movies", caroussel_id: "2" %>
<%= render '/shared/caroussel', movies: @best_movies, caroussel_title: "Les mieux notés", path: "/bestmovies", caroussel_id: "3" %>
