<h2>Les plus populaires</h2>
<%= render '/shared/caroussel', movies: @most_popular_movies, caroussel_id: "1", i: 0, y:7 %>
<br>
<h2>Meilleurs films de 2020</h2>
<%= render '/shared/caroussel', movies: @best_2020_movies, caroussel_id: "2", i: 0, y:7 %>
<br>
<h2>Les mieux notés</h2>
<%= render '/shared/caroussel', movies: @best_movies, caroussel_id: "3", i: 0, y:7 %>