.movie-card {
  color: white;
  border-radius: 4px;
  width: 145px;
  margin: 0 auto;
}

.img-card-container {
  img {
    width: 145px;
    height: 200px;
    border-radius: 4px;
  }
}

.content-card-container {
  padding-top: 8px;
  overflow: hidden;

  .movie-title {
    font-weight: bold;
  }
  
  .movie-date {
    font-size: 10px;
    flex-grow: 1;
    opacity: 0.5;
    margin: 0;
  }
}

.movie-user-actions {
  display: flex;
  justify-content: flex-end;

  .fa-plus {
    margin-right: 8px;
  }

  i {
    font-size: 14px;
    opacity: 0.5;
    
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}