#footer {
  padding: 0 60px;
  background: black;
  height: 68px;
  text-align: end;
  position: sticky;
  bottom: 0;

  svg {
    width: 68px;
    height: 68px;
  }
}

@media(max-width: 1000px) {
  #footer {
    padding: 0 10px;
  }
}
