.i-active {
  color: red;
}

.i-circle {
  text-align: center;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  margin: 0 4px 4px 0;
}