#show-movie-container {
  display: flex;
  justify-content: space-between;
  color: white;
}

#show-movie-img-container {

  img {
    height: calc(100vh - 185px);
    border-radius: 4px;
  }
}

#show-movie-content-container {
  flex-grow: 1;
  padding: 0 24px;

  .fa-edit {
    margin-left: 8px;

    &:hover {
      cursor: pointer;
    }
  }
}

#show-movie-header {
  display: flex;
  align-items: center;
}

#show-movie-title {
  font-weight: bold;
  margin: 0;
}

.show-movie-subtitle {
  font-size: 22px;
}

.show-movie-infos {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: 14px;

  .fa-circle {
    margin: 0 8px;
    font-size: 4px;
  }
}

#trailer-movie-container {
  max-width: 600px;
  height: 325px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

#show-movie-tagline {
  font-style: italic;
  opacity: 0.5;
  font-size: 18px;
}

.icon-list-show {
  margin-left: 48px;
  font-size: 30px;
}

@media(max-width: 1000px) {
  #show-movie-img-container {
    display: none;
  }
  #show-movie-content-container {
    padding: 0;
  }
}

@media(max-width: 600px) {
  .show-movie-infos {
    margin-bottom: 8px;
    font-size: 10px;
  
    .fa-circle {
      margin: 0 4px;
      font-size: 3px;
    }
  }
}
